.about-me {
  display: flex;
  padding: 100px 10%;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.about-me-text {
  width: 40%;
}
.about-me-text span {
  color: #ff782c;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.about-me-text h2 {
  margin-top: 10px;
  font-size: 34px;
  margin-bottom: 20px;
}
.about-me-text p {
  color: #6d6d6d;
  font-size: 16px;
  margin-bottom: 20px;
}
.about-me-image {
  width: 45%;
  position: relative;
}
.about-me-image img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 50%;
}
.small-image {
  position: absolute;
  background-size: cover;
  border-radius: 50%;
}
.image1 {
  background-image: url("../images/about_me/pet1.png");
  animation: rotateInPlace 10s linear infinite;
  top: 80px;
  left: 0;
  width: 20%;
  height: 20%;
}
.image2 {
  background-image: url("../images/about_me/pet2.png");
  animation: moveLeftRight 5s ease-in-out infinite;
  bottom: 0;
  left: 40px;
  width: 25%;
  height: 25%;
}
.image3 {
  background-image: url("../images/about_me/pet3.png");
  animation: moveUpDown 10s ease-in-out infinite;
  top: 0;
  right: 0;
  width: 20%;
  height: 20%;
}

@keyframes rotateInPlace {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveLeftRight {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
}
